.main-contact {
  display: none;
}
.contact {
  display: flex;
  align-items: center;
  gap: 50px;
  &__link {
    text-decoration: none;
    color: $colorP;
    transition-property: fill, color;
    @include transition(fill);
    @include transition(color);
    &:hover,
    &:focus {
      fill: $colorMark;
      color: $colorMark;
    }
  }
  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    fill: $colorP;
    @include transition(fill);
    @include transition(color);
    &:hover,
    &:focus {
      fill: $colorMark;
      color: $colorMark;
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-contact {
    display: flex;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .main-contact {
    display: inline-flex;
  }
}
