.backdrop {
  background-color: $colorBoxSh3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  @include transition(visibility);
  @include transition(opacity);
  @include transition(transform);
  & > .modal {
    height: 609px;
    width: 450px;
    border-radius: 4px;
    background-color: $colorTextLight;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px $colorBoxSh1, 0px 1px 1px $colorBoxSh2,
      0px 2px 1px $colorBoxSh3;
    transform: translate(-50%, -50%);
  }
}
.modal__close-button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 17px 10px 553px 500px;
  padding: 9px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $colorBtMdClose;
  border-radius: 50%;
  fill: $colorLogoDark;
  cursor: pointer;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.form {
  &__sign-up {
    margin: 12px 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    display: block;
    margin-bottom: 12px;
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    color: $colorTextDark;
  }
  &__agreement {
    margin-top: 20px;
    margin-bottom: 30px;
    color: $colorP;
  }
  &__field {
    margin-bottom: 10px;
    @include transition(fill);
    @include transition(color);
    @include transition(background-color);
  }
}
.field {
  &__label {
    font-size: 12px;
    color: $colorP;
    position: relative;
  }
  &__input {
    width: 370px;
    min-height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid $colorInputForm;
  }
  &__input:focus {
    border-color: $colorMark;
    outline: none;
  }
  &__label > .field__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(50%);
  }
  &__icon {
    display: inline-block;
  }
  &__label:focus-within {
    fill: $colorMark;
  }
  &__input--comment {
    padding: 12px 16px;
    width: 370px;
    height: 120px;
    resize: none;
  }
}
.agreement {
  margin-bottom: 30px;
  &__label--statute {
    color: $colorMark;
    cursor: pointer;
  }
  &__button {
    @extend %button;
    padding: 10px 76px;
    box-shadow: 0px 4px 4px $boxShadow;
    font-weight: 700;
    line-height: 1.88;
    @include transition(fill);
    @include transition(color);
    @include transition(background-color);
    @include transition(cursor);
  }
  &__field {
    appearance: none;
  }
  &__label {
    position: relative;
    color: $colorP;
    font-size: 12px;
  }
  &__label::before {
    display: block;
    position: absolute;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid $colorTextDark;
    border-radius: 2px;
    top: 2px;
    left: -20px;
  }
  &__field:checked + &__label::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
    background-position: center;
    border: none;
  }
}
::placeholder {
  color: $colorPlaceh;
}
@media (min-width: 768px) {
  .backdrop > .modal {
    height: 581px;
    width: 528px;
  }
  .field__input {
    width: 448px;
  }
  .field__input--comment {
    width: 448px;
  }
  .agreement__label {
    font-size: 14px;
  }
}
